@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  --primary-bg: #F8FAFC;  
  --secondary-bg: #E2E8F0;      /* Light gray-blue for body */
  --menu-bg: #1E3A8A;          /* Deep blue for menu */
  --text-primary: #FFFFFF;     /* White for main text */
  --text-secondary: #CBD5E1;   /* Soft gray for secondary text */
  --accent-color: #60A5FA;     /* Bright blue for accents */
}

body {
  background-color: var(--primary-bg);
  margin: 0;                   /* Remove default margin */
  font-family: "Roboto Mono", sans-serif; /* Clean font */
}